<aside class="Hui-aside">
	<dd class="menu_dropdown bk_2 Huifold " >
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 公告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				  <li><a data-href="{:url('news/add')}" data-title="添加公告" href="javascript:void(0)">添加公告</a></li>
					<li><a data-href="{:url('news/index')}" data-title="管理公告" href="javascript:void(0)">管理公告</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>

					<li><a data-href="{:url('comment/index')}" data-title="查看所有评论" href="javascript:void(0)">查看所有评论</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-question">
			<dt><i class="Hui-iconfont Hui-iconfont-help"></i> 提问管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('question/index')}" data-title="查看所有提问" href="javascript:void(0)">查看所有提问</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-answer">
			<dt><i class="Hui-iconfont Hui-iconfont-face2"></i> 回答管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('answer/index')}" data-title="查看所有回答" href="javascript:void(0)">查看所有回答</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-vote">
			<dt><i class="Hui-iconfont Hui-iconfont-gouxuan"></i> 投票管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('vote/index')}" data-title="投票管理" href="javascript:void(0)">投票管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-task">
			<dt><i class="Hui-iconfont-edit Hui-iconfont"></i> 作业管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				作业
				<ul>
					<li><a data-href="{:url('task/add')}" data-title="发布作业" href="javascript:void(0)">发布作业</a></li>
					<li><a data-href="{:url('task/index')}" data-title="作业查看" href="javascript:void(0)">作业查看</a></li>
				</ul>
				问题
				<ul>
					<li><a data-href="{:url('task_question/add')}" data-title="添加问题" href="javascript:void(0)">添加问题</a></li>
					<li><a data-href="{:url('task_question/index')}" data-title="查看所有问题" href="javascript:void(0)">查看所有问题</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-video" >

			<dt><i class="Hui-iconfont">&#xe62d;</i> 课程管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

				<ul class="Huifold">
				<dt style="margin-left: 10%"><i class="Hui-iconfont">&#xe62d;</i> 课程<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
					<dd>
				<ul  class="text-c Huifold" >
					<li><a data-href="{:url('videosClass/add')}" data-title="添加课程" href="javascript:void(0)">添加课程</a>					</li>
					<li><a data-href="{:url('videosClass/index')}" data-title="课程管理" href="javascript:void(0)">课程管理</a>					</li>
				</ul>
					</dd>
				<dt style="margin-left: 10%"><i class="Hui-iconfont Hui-iconfont-yuedu"></i> 章节<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

					<dd>
				<ul class="text-c">
					<li><a data-href="{:url('videosChapter/add')}" data-title="添加章节" href="javascript:void(0)">添加章节</a></li>
					<li><a data-href="{:url('videosChapter/index')}" data-title="章节管理" href="javascript:void(0)">章节管理</a></li>
				</ul>
					</dd>
				<dt style="margin-left: 10%"><i class="Hui-iconfont Hui-iconfont-phone"></i> 视频<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>

<dd>
				<ul class="text-c">
					<li><a data-href="{:url('videos/add')}" data-title="添加视频" href="javascript:void(0)">添加视频</a></li>
					<li><a data-href="{:url('videos/index')}" data-title="视频管理" href="javascript:void(0)">视频管理</a></li>
				</ul>
</dd>



			</ul>
		</dl>


		<dl id="menu-admin">
			<dt><i class="Hui-iconfont Hui-iconfont-root"></i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				  <li><a data-href="{:url('admin/add')}" data-title="添加用户" href="javascript:void(0)">添加用户</a></li>
				  <li><a data-href="{:url('admin/index')}" data-title="管理员用户管理" href="javascript:void(0)">管理员用户管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-students">
			<dt><i class="Hui-iconfont Hui-iconfont-usergroup2"></i> 学生信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('students/add')}" data-title="添加学生信息" href="javascript:void(0)">添加学生信息</a></li>
					<li><a data-href="{:url('students/index')}" data-title="学生信息管理" href="javascript:void(0)">学生信息管理</a></li>
				</ul>
			</dd>
		</dl>



		<dl id="menu-teacher">
			<dt><i class="Hui-iconfont Hui-iconfont-user"></i> 教师信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('teachers/add')}" data-title="添加学生信息" href="javascript:void(0)">添加教师信息</a></li>
					<li><a data-href="{:url('teachers/index')}" data-title="学生信息管理" href="javascript:void(0)">教师信息管理</a></li>
				</ul>
			</dd>
		</dl>








</aside>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>