<!--header-->
{include file="public/_meta" /}

<article class="page-container">
    {volist name ="contant" id="voo" }
    <form class="form form-horizontal" id="form-singwaapp" url="{:url('videos_chapter/update',['id'=>$voo['id']])}">


        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>章节名称：</label>
            <div class="formControls col-xs-8 col-sm-5">
                <select name="videos_class_id" class="select">

                    {volist name ="className" id="vo"}
                    <option value="{$key}"{if condition="$key eq $voo.videos_class_id"}selected="selected" {/if} > {$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>


        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>章节名称：</label>
            <div class="formControls col-xs-8 col-sm-5">
                <input type="text" class="input-text" value="{$voo.chapter_name}" placeholder="" id="chapter_name" name="chapter_name">
            </div>
        </div>



        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">允许观看：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="videos_watch" name="chapter_watch" value="1">
                    <label for="checkbox-pinglun">&nbsp;</label>
                </div>
            </div>
        </div>



        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-secondary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改章节</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        {/volist}
    </form>
</article>

<!--header-->
{include file="public/_footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}


<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        //表单验证
        $("#form-singwaapp").validate({
            rules:{
                class_name:{
                    required:true,
                },


            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                lovecnb_save(form);// 需要小伙伴自定义一个singwaapp_save方法 用来处理抛送请求的哦
            }
        });

        var ue = UE.getEditor('editor');

    });

</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>