<!--header-->
{include file="public/_meta" /}
{load href="__STATIC__/admin/js/students.js" /}
<article class="page-container">
    <form class="form form-horizontal" id="form-singwaapp" url="{:url('students/add')}">


        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="studentNum" name="studentNum">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">个人头像：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input id="file_upload" type="file" multiple="true">
                <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
                <input id="file_upload_image" name="image" type="hidden" multiple="true" value="">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">名字：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="stu_name" name="stu_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="password" name="password">
            </div>
        </div>


        <div class=" row cl ">
            <label class=" form-label col-xs-4 col-sm-2 "><span class=" c-red ">*</span>学院：</label>
            <div class=" formControls col-xs-8 col-sm-9 "> <span class=" select-box ">
 <select name=" college " class=" select ">
 {volist name="stu_cats_college" id="vo0"}
 <option value=" {$key} ">{$vo0}</option>
 {/volist}
 </select>
 </span>
            </div>
        </div>


        <div class=" row cl ">
            <label class=" form-label col-xs-4 col-sm-2 ">
                <span class=" c-red ">*</span>专业：</label>
            <div class=" formControls col-xs-8 col-sm-9 "> <span class=" select-box ">
 <select name=" major " class=" select ">
 {volist name="stu_cats_major" id="vo1"}
 <option value=" {$key} ">{$vo1}</option>
 {/volist}
 </select>
            </span>


            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="sex" class="select">
      {volist name="cats_sex" id="vo2"}
                  <option value="{$key}">{$vo2}</option>
                  {/volist}
                </select>
				</span>
            </div>
        </div>


        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>出生日期：</label>
            <div class="formControls col-xs-8 col-sm-9">

                <input type="text" name="birthday" class="input-text" id="birthday" onfocus="selecttime()" value=""
                       style="width:120px;">
            </div>
        </div>


        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">
            </div>
        </div>

        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="email" name="email">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="address" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符"
                          datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-secondary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</article>

<!--header-->
{include file="public/_footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
{load href="__STATIC__/admin/js/image.js" /}


<script type="text/javascript">


    //    $('#college').change(function () {
    //        $('#major').html("");
    //        var val = $(this).val();
    //
    //        if (val == 1) {
    //            var college1_lists = [
    //                "应用英语", '物流管理',
    //                '旅游管理', '市场营销',
    //                '金融管理', '商务管理',
    //                '应用英语', '会计信息管理',
    //                '社会工作', '餐饮管理'];
    //
    //            for (var i = 0; i < college1_lists.length; i++) {
    //                $('#major').append('<option  value="' + college1_lists[i] + '">' + college1_lists[i] + '</option>')
    //            }
    //        }
    //        else if (val == 2) {
    //            var college2_lists = [
    //                '软件技术',
    //                '信息安全域管理',
    //                '精细化工',
    //                '电子信息工程技术',
    //                '数字媒体艺术设计',
    //                '物联网应用技术',
    //                '工业分析哦技术'
    //
    //            ];
    //            for (var i = 0; i < college2_lists.length; i++) {
    //                $('#major').append('<option  value="' + college2_lists[i] + '">' + college2_lists[i] + '</option>')
    //            }
    //
    //        }
    //
    //        else if (val == 3) {
    //
    //            var college3_lists = [
    //                "数控技术",
    //                "机电一体化",
    //                "模具设计以制造",
    //                "电梯工程技术",
    //                "汽车运用与维修技术",
    //                "机械设计与制造",
    //                "焊接技术与自动化",
    //                "理化测试与质检技术",
    //                "电气自动化技术",
    //                "工业机器人技术"
    //
    //            ];
    //            for (var i = 0; i < college3_lists.length; i++) {
    //                $('#major').append('<option  value="' + college3_lists[i] + '">' + college3_lists[i] + '</option>')
    //            }
    //        }
    //
    //        else if (val == 4) {
    //            var college4_lists = [
    //                "动漫制作技术",
    //                "家居设计",
    //                "服装与服饰设计",
    //                "产品艺术设计",
    //                "视觉传播设计与制作",
    //                "环境艺术设计"
    //            ];
    //            for (var i = 0; i < college4_lists.length; i++) {
    //                $('#major').append('<option  value="' + college4_lists[i] + '">' + college4_lists[i] + '</option>')
    //            }
    //        }
    //
    //        else if (val == 5) {
    //            var college5_lists = [
    //                "中小企业与经营"];
    //
    //
    //            for (var i = 0; i < college5_lists.length; i++) {
    //                $('#major').append('<option  value="' + college5_lists[i] + '">' + college5_lists[i] + '</option>')
    //            }
    //        }
    //
    //
    //
    //    });


    function selecttime() {
        var endTime = $("#birthday").val();
        if (endTime != "") {
            WdatePicker({dateFmt: 'yyyy-MM-dd ', maxDate: endTime})
        } else {
            WdatePicker({dateFmt: 'yyyy-MM-dd '})
        }

    }


    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


        //表单验证
        $("#form-singwaapp").validate({
            rules: {
                studentNum: {
                    required: true,
                },
                password: {
                    required: true,
                },
                stu_name: {
                    required: true,
                },
                phone: {
                    required: true,
                },
                address: {
                    required: true,
                },

            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                lovecnb_save(form);// 需要小伙伴自定义一个singwaapp_save方法 用来处理抛送请求的哦
            }
        });

        var ue = UE.getEditor('editor');

    });

</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>